/* font */
@font-face {
  font-family: "PTSerif";
  src: url("/font/PTSerif/PTSerifRegular/PTSerifRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* global */
body {
  font-family: "PTSerif", Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

.wrapper {
  padding: 9px 11px;
}

/* main text */
.main-text__paragraph {
  font-size: 30px;
  font-family: "PTSerif";
  margin-bottom: 9px;
}

@media screen and (max-width: 1400px) {
  .main-text__paragraph {
    font-size: 25px;
  }
}

@media screen and (max-width: 772px) {
  .main-text__paragraph {
    font-size: 20px;
  }
}

.main-text_additional-info {
  display: none;
}

.main-text__link {
  text-decoration: none;
  color: rgb(65, 64, 64);
}

.main-text__link:hover {
  color: black;
}

.magazine-filter {
  margin: 12px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* button */
.btn-filter {
  background-color: black;
  color: white;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  font-family: Helvetica;
  font-weight: 400;
}

@media screen and (max-width: 1400px) {
  .btn-filter {
    font-size: 25px;
  }
}

@media screen and (max-width: 772px) {
  .btn-filter {
    font-size: 20px;
  }
}

.btn-filter:hover {
  background-color: white;
  color: black;
}

/* gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 5px;
  padding-top: 4px;
  padding-bottom: 20px;
}

.gallery-inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gallery__img-wrapper {
  max-width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.gallery__img-title {
  font-family: "PT_Serif";
}
.gallery__img-title-filter {
  font-family: Helvetica, sans-serif;
  font-size: smaller;
  font-weight: 300;
  color: #8a8a8a;
  padding-bottom: 20px;
}

/* description-text */
.description-text__paragraph,
.description-text__contact {
  font-family: "PT_Serif";
  font-size: 30px;
  padding-top: 20px;
}

@media screen and (max-width: 1400px) {
  .description-text__paragraph,
  .description-text__contact {
    font-size: 25px;
  }
}

@media screen and (max-width: 772px) {
  .description-text__paragraph,
  .description-text__contact {
    font-size: 20px;
  }
}
/* .description-text__contact-link {
  text-decoration: none;
  color: rgb(65, 64, 64);
} */

/* footer */
.footer {
  padding-bottom: 30px;
  margin: 30px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(65, 64, 64);
}
