@font-face {
  font-family: "Inter";
  src: url("/Inter/Inter-VariableFont_opsz_wght.ttf") format("truetype"),
    url("/Inter/Inter-Italic-VariableFont_opsz_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
}
/* button {
  font-family: inherit;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

.wrapper {
  max-width: 70%;
  margin: auto;
}

.main-text__paragraph {
  font-size: 30px;
  line-height: 39px;
}

.main-text__link {
  text-decoration: none;
  color: rgb(65, 64, 64);
}

.main-text__link:hover {
  color: black;
}

.magazine-filter {
  margin: 12px 0;
}

.btn-filter {
  background-color: black;
  color: white;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-filter:hover {
  background-color: white;
  color: black;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 10px;
}
.gallery-inner {
  display: flex;
  flex-direction: column;
}
