/* font */
@font-face {
  font-family:"PT_Serif";
  src:
      url("/font/PT_Serif/Pt-serif/pt-serif_regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* global */
body {
  font-family: "PT_Serif", Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

.wrapper {
  max-width: 70%;
  margin: auto;
}

/* main text */
.main-text__paragraph {
  font-size: 30px;
  line-height: 39px;
  font-family: "PT_Serif";
}

.main-text__link {
  text-decoration: none;
  color: rgb(65, 64, 64);
}

.main-text__link:hover {
  color: black;
}

.magazine-filter {
  margin: 12px 0;
}

/* button */
.btn-filter {
  background-color: black;
  color: white;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-filter:hover {
  background-color: white;
  color: black;
}

/* gallery */
.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  gap: 10px;
  padding-top: 11px;
  padding-bottom: 20px;
}
.gallery-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__img-wrapper {
  max-width: 100%;
}

.gallery__img-title {
  font-family: "PT_Serif";
}
.gallery__img-title-filter {
  font-family: Helvetica, sans-serif;
  font-size:smaller;
  font-weight:300;
  color: #8A8A8A;
  padding-bottom: 20px;
}

/* description-text */
.description-text__paragraph, .description-text__contact {
  font-family: "PT_Serif";
  font-size: 30px;
  line-height: 39px;
  padding-top: 20px;
}
/* .description-text__contact-link {
  text-decoration: none;
  color: rgb(65, 64, 64);
} */

/* footer */
.footer {
padding-bottom: 30px;
}

.footer__services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 70px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 40px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(65, 64, 64);
}

.footer__news {
  padding-top: 40px;
}

.news {
  padding-bottom: 30px;
}
.footer__link {
  text-decoration: underline;
}
